<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>basket_canwait_login</display-name>
  <context-param>
    <param-name>book.title</param-name>
    <param-value>独習JSP＆サーブレット</param-value>
  </context-param>
  <context-param>
    <param-name>smtp.host</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>smtp.port</param-name>
    <param-value>25</param-value>
  </context-param>
  <context-param>
    <param-name>smtp.user</param-name>
    <param-value>xxxxx</param-value>
  </context-param>
  <context-param>
    <param-name>smtp.password</param-name>
    <param-value>xxxxx</param-value>
  </context-param>
  <context-param>
    <param-name>smtp.charset</param-name>
    <param-value>ISO-2022-JP</param-value>
  </context-param>
  <display-name>book_basket_mail</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BookController</display-name>
    <servlet-name>BookController</servlet-name>
    <servlet-class>honya.BookController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PdfSeikyusho</display-name>
    <servlet-name>PdfSeikyusho</servlet-name>
    <servlet-class>honya.PdfSeikyusho</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Mail</display-name>
    <servlet-name>Mail</servlet-name>
    <servlet-class>honya.Mail</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>servlet.UserController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PdfOkurizyo</display-name>
    <servlet-name>PdfOkurizyo</servlet-name>
    <servlet-class>honya.PdfOkurizyo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfOkurizyo</servlet-name>
    <url-pattern>/PdfOkurizyo</url-pattern>
  </servlet-mapping>
</web-app>